@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #f105e3;
  --secondary: #161622;
  --header-height: 72px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --accent: #f105e3;
    --header-height: 72px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.scroll-offset {
  scroll-margin-top: 80px; /* Adjust this value to match your header height */
}

/* Add any Android-specific fixes */
@supports not (-webkit-overflow-scrolling: touch) {
  /* Android-specific styles go here */
  body {
    /* Example fix for potential Android issues */
    position: relative;
  }
}
